@import url("style.css");
a{
	text-decoration:none;
}
html,body,.container{
	width:100%;
	height:100%;
	overflow:hidden;
}
.container{
	display:-webkit-flex;
	-webkit-flex-direction:column;
}
.header{
	width:100%;
	height:48px;
	background:-webkit-linear-gradient(left,red,orange,yellow,green,blue,purple);
	border-shadow:0 1px 2px rgba(0,0,230,0.6);
	h2{
		width:100%;
		text-align:center;
		line-height:48px;
		font-size:16px;
		color:#fff;
	}
}
.main{
	-webkit-flex:1;
	width:100%;
	overflow-y:scroll;
}
.all{
	width:100%;
	a{
		height:90px;
		border-bottom:1px solid #aaa;
		padding:5px;
		display:-webkit-flex;
		color:rgba(255,0,0,0.4);
	}
	img{
		width:70px;
		height:70px;
		margin-right:10px;
		margin-top:5px;
		border-radius:50%;
	}
	h3{
		-webkit-flex:1;
		height:80px;
		padding-top:14px;
		line-height:22px;
		-webkit-line-clamp:3;
		overflow:hidden;
		text-overflow:ellipsis;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		font-size:14px;
	}
	time{
		width:100px;
		height:80px;
		line-height:80px;
		text-align:center;
	}
}
.refr,.load{
	height:50px;
	overflow:hidden;
}

.refr div,.load div{
	line-height:40px;
	width:100%;
	text-align:center;
}
.refr .ld:before,.load .ld:before{
	content:"";
	width:20px;
	height:20px;
	border:2px solid #ccc;
	border-radius:100%;
	border-left:0;
	display:inline-block;
	-webkit-animation:rotate 1s linear infinite;
}
@keyframes rotate{
	for{
		-webkit-transform:rotate(0);
	}
	to{
		-webkit-transform:rotate(360deg)
	}
}